      <br />
      <div class="newsletter">
        <div class="container">
          <div class="newsletteersub">
            <div class="sectitle">
              Connect Globally,
              <div>Thrive Locally with ApexCo!</div>
            </div>
            <p class="smallertext">
              levate your financial journey with seamless transactions,
              collaborative investment strategies, and a robust future.
            </p>
            <div class="lmore">Learn More</div>
          </div>
        </div>
      </div>

      <br />
      <div class="container">
        <br />
        <div class="bottom">
          <div class="bottomlogo">
            <div class="logo"><img src="Group 39810.png" alt="" />ApexCo</div>
          </div>
          <div class="bottomlinks">
            <a href="index.html">Home</a>
            <a href="about.html">About</a>
            <a href="">Products</a>
          </div>
          <div class="bottomlocal">
            <div class="email">hello@skillbirdge.com</div>
            <div class="phone">+91 91813 23 2309</div>
            <div class="address">Somewhere in the World</div>
          </div>
        </div>
        <br />
        <div class="line"></div>
        <br />
        <div class="copyright">
          <div class="copytext">©All right reserved • Augustine Ifenna</div>
          <div class="copydate">2024 Terms and condition</div>
        </div>
      </div>