         <style>
    .ccccaaa{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .canclb{
        height: 72px;
        width: 72px;
       background: #023047;
        border-radius: 50%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: white;
        font-weight: 700;
    }

  .ccccaaa  ion-icon {
  font-size: 64px;
}
</style>


        {% if messages %}
               {% for message in messages %}
        <div class="loading-over2">
            <div class="popup">
                <p id="close2">&times;</p>
                <br>
            <div class="secoact">
            <div class="logoac">



{% if message.tags == 'success' %}
  <svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="72" height="72" rx="36" fill="#219653"/>
    <path d="M50.0361 23.9934C49.5241 23.9934 48.9901 24.1614 48.6001 24.5454L31.186 41.7334C30.672 42.2394 30.156 42.1454 29.752 41.5494L23.76 32.7094C23.148 31.8074 21.868 31.5554 20.95 32.1574C20.034 32.7594 19.778 34.0174 20.39 34.9194L26.38 43.7594C28.184 46.4174 31.698 46.7554 33.996 44.4954L51.472 27.3694C52.25 26.6014 52.25 25.3134 51.472 24.5454C51.082 24.1614 50.5461 23.9934 50.0361 23.9934Z" fill="white"/>
    </svg>

{% else %}

                <div class="ccccaaa">
    <div class="canclb">
        <ion-icon name="alert-outline"

        style="
    color: white;
    font-size: 50px;
"
        ></ion-icon>
     </div>
</div>

                {%endif%}

            </div>

    {% if message.tags == 'success' %}
            <div class="logomen"> success </div>
   {% else %}
                <div class="logomen"> Error  </div>
                {%endif%}

            <div class="logobod">


                {{message}}

            </div>
            <div class="logobtn">

<!--                    <a href="" type="button"  class="arwbtn"> Proceed </a>-->

            </div>
            </div>
            </div>
            </div>


         {% endfor %}
                 <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endif %}
